@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: normal;
    src: url(/share-static-resource/font/DINPro.woff);
}

@font-face {
    font-family: Ping Fang SC;
    font-style: normal;
    font-weight: normal;
    src: url(/share-static-resource/font/pingfang.ttf);
}

@font-face {
    font-family: YouSheBiaoTiHei;
    font-style: normal;
    font-weight: normal;
    src: url(/share-static-resource/font/screen-title-font.ttf);
}

.font-family-Dinpro {
    font-family: DINPro;
}
